body {
  background-color: black;
  -webkit-text-stroke: 1px blue;
  font-family: 'Roboto', sans-serif;
}

h1 {
font-size: 1200%;
text-align: center;
padding-top: 10%;
}
.mainbox {
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
}

.effect {
color: blue;
position: relative;
font-size: 9vw;
animation: glitch 3s 3s infinite;
}

.effect::before {
content: attr(data-text);
position: absolute;
left: -2px;
text-shadow: -5px 0 black; // ------
background: black;
overflow: hidden;
top: 0;
animation: noise-1 3s linear infinite alternate-reverse, glitch 3s 5.05s infinite;
}

.effect::after {
content: attr(data-text);
position: absolute;
left: 2px;
text-shadow: -12px 0 darkblue;
background: black;
overflow: hidden;
top: 0;
animation: noise-2 3s linear infinite alternate-reverse, glitch 4s 3s infinite;
}

@keyframes glitch {
1%{
transform: rotateX(10deg) skewX(90deg);
}
2%{
transform: rotateX(0deg) skewX(0deg);
}
}

@keyframes noise-1 {
$steps: 30;
@for $i from 1 through $steps {
#{percentage($i*(1/$steps))} {
$top: random(100);
$bottom: random(101 - $top);
clip-path: inset(#{$top}px 0 #{$bottom}px 0);
}
}
}

@keyframes noise-2 {
$steps: 30;
@for $i from 0 through $steps {
#{percentage($i*(1/$steps))} {
$top: random(100);
$bottom: random(101 - $top);
clip-path: inset(#{$top}px 0 #{$bottom}px 0);
}
}
}

.scanlines {
overflow: hidden;
mix-blend-mode: difference;
}

.scanlines::before {
content: "";
position: absolute;
width: 30%;
height: 100%;
top: 0;
left: 0;
animation: fudge 4s ease-in-out alternate infinite;
}

@keyframes fudge {
from {
transform: translate(0px, 0px);
}
to {
transform: translate(0px, 2%);
}
}

.glow {
@extend .glitch;
color: transparent;
position: absolute;
top: 0;
font-size: 200%;
text-shadow: -1.5px 0 darkblue;
}

.subtitle {
font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
font-size: .8vw;
color: rgba(165, 141, 141, .4);
text-transform: uppercase;
letter-spacing: 1em;
text-align: center;
position: absolute;
left: 17%;
animation: glitch-2 5s 5.02s infinite;
}

@keyframes glitch-2 {
1%{
transform: rotateX(10deg) skewX(70deg);
}
2%{
transform: rotateX(0deg) skewX(0deg);
}
}

a {
color: blue;
text-decoration: none; /* no underline */
}
